.LogoutButton {
    cursor: pointer;
    border: none;
    background-color: #f47521;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    height: 28px;
    width: 85px;
    transition: 0.2s;
}

.LogoutButton:hover {
    background-color: #f78e48;
}
