.SignUpForm_title {
    color: white;
    margin-bottom: 5px;
}

.SignUpForm_subtitle {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
}

.SignUpForm_form {
    margin-left: 21px;
    margin-right: 40px;

}

.SignUpForm_innerFormGrid {
    display: grid;
    grid-template-columns: repeat(2, 21fr);
    margin-top: 30px;
}

/* body {
    background-color: black;
} */

.SignUpForm_label {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
}

.SignUpForm_input {
    width: 300px;
    height: 30px;
    padding: 10px 10px;
    font-size: 16px;
    border: solid 1px rgba(128, 128, 128, 0.8);
    outline: none;
}

.SignUpForm_input:hover,
.SignUpForm_input:focus {
    border: 1px solid #f47521
}

.SignUpForm_inputWrap {
    display: flex;
    flex-direction: column;
    margin-right: 17px;
    height: 131px;
}

.SignUpForm_error {
    color: #c32f2d;
    background-color: rgba(195, 47, 45, .2);
    width: 100%;
    margin-top: 7px;
    padding: 5px, 5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.SignUpForm_submit {
    background-color: #f47521;
    color: white;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: #b78142 1px solid;
    font-size: 20px;
    transition: 0.2s;
    border-radius: 5px;
    height: 70px;
    width: 322px
}

.SignUpForm_submit:hover {
    background-color: #f47521b9;
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    .SignUpForm_form {
        margin-left: 21px;
        margin-right: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }
}
