.LIGHTLoginForm_error {
    color: #c32f2d;
    background-color: rgba(195, 47, 45, .2);
    width: 322px;
    margin-top: 7px;
    padding: 5px, 5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.LIGHTLoginForm_label {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
}

.LIGHTLoginForm_inputWrap {
    display: flex;
    flex-direction: column;
    margin-right: 17px;
    height: 100px;
}


.LIGHTLoginForm_formWrap {
    display: flex;
    justify-content: center;
    width: 100%;
    border-left: solid 1px rgba(128, 128, 128, 0.8);
    padding-left: 9px;
}

@media screen and (max-width: 1300px) {
    .LIGHTLoginForm_formWrap {
        display: flex;
        justify-content: center;
        width: 100%;
        border-top: solid 1px rgba(128, 128, 128, 0.8);
        border-left: none;
        padding-top: 9px;
    }
}


.LIGHTLoginForm_subtitle {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
}

.LIGHTLoginForm_title {
    color: rgb(46, 46, 46);
    margin-bottom: 5px;
}

.LIGHTLoginForm_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
}

.LIGHTLoginForm_input {
    width: 300px;
    height: 30px;
    padding: 10px 10px;
    font-size: 16px;
    border: solid 1px rgba(128, 128, 128, 0.8);
    outline: none;
}

.LIGHTLoginForm_input:hover,
.LIGHTLoginForm_input:focus {
    border: 1px solid #f47521
}

.LIGHTLoginForm_topformWrap {
    height: 60px;
}

.LIGHTLoginForm_submit {
    background-color: #f47521;
    color: rgb(46, 46, 46);
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: #b78142 1px solid;
    font-size: 20px;
    transition: 0.2s;
    border-radius: 5px;
    height: 70px;
    width: 322px
}

.LIGHTLoginForm_submit:hover,
.LIGHTLoginForm_demo:hover {
    cursor: pointer;
    background-color: #f47521b9;
}

.LIGHTLoginForm_demo {
    background-color: #f47521;
    color: rgb(46, 46, 46);
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: #b78142 1px solid;
    font-size: 20px;
    transition: 0.2s;
    border-radius: 5px;
    height: 70px;
    width: 322px;
    margin-top: 10px;
}
