.LIGHTHomepage_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    row-gap: 20px;
}




.LIGHTHomepage_storyTitle {
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    width: 160px;
    word-wrap: break-word;
    font-size: 12px;
    margin-top: 10px;

}

.LIGHTHomepage_storyWrap {
    width: 180px;
    height: 290px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    align-items: center;
    transition: 0.2s;
    padding-bottom: 10px;
}

.LIGHTHomepage_storyWrap:hover {
    background-color: rgba(82, 82, 82, 0.198);

    cursor: pointer;
}

.LIGHTHomepage_storyImage {
    object-fit: cover;
    width: 160px;
    height: 220px;
    margin-top: 8px;
}


.LIGHTHomepage_storyAuthor {
    font-size: 12px;
    margin-top: 10px;
    width: 100%;
    margin-left: 19px;
    word-wrap: break-word;
    color: #2d2d2d9e;
}


.LIGHTHomepage_outer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 600px;
}

.LIGHTHomepage_h1 {
    color: rgba(0, 0, 0, 0.8);
    font-weight: normal;
    margin-top: 60px;
    margin-bottom: 35px;

}

.LIGHTHomepage_randomButtonPic {
    height: 20px;
}

.LIGHTHomepage_randomButtonText {
    color: rgba(0, 0, 0, 0.8);
}

.LIGHTHomepage_randomButton {
    display: flex;
    width: 120px;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 35px;
    transition: 0.2s;
}

.LIGHTHomepage_randomButton:hover {
    background-color: rgba(82, 82, 82, 0.198);
    cursor: pointer;
}

.LIGHTHomepage_top {
    display: flex;
    justify-content: space-between;
    width: 1105px;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .LIGHTHomepage_grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 10px;
        row-gap: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .LIGHTHomepage_top {
        display: flex;
        justify-content: space-between;
        width: 900px;
        align-items: center;
    }
}

@media screen and (max-width: 973px) {
    .LIGHTHomepage_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10px;
        row-gap: 20px;
    }
}

@media screen and (max-width: 973px) {
    .LIGHTHomepage_top {
        display: flex;
        justify-content: space-between;
        width: 700px;
        align-items: center;
    }
}

@media screen and (max-width: 783px) {
    .LIGHTHomepage_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        row-gap: 20px;
    }
}

@media screen and (max-width: 783px) {
    .LIGHTHomepage_top {
        display: flex;
        justify-content: space-between;
        width: 500px;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .LIGHTHomepage_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 20px;
    }
}

@media screen and (max-width: 600px) {
    .LIGHTHomepage_top {
        display: flex;
        justify-content: space-between;
        width: 300px;
        align-items: center;
    }
}
