/* TODO Add site wide styles */
* {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: 0px;
}


.pageWrap {
    position: relative;
    min-height: 100vh;
    background-color: black;
    z-index: 1
}

.paddingLoad {
    padding-bottom: 1300px;
    height: 500px;
    width: 1000px;
}
